In [1]:
from warnings import filterwarnings

filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
csv_files = ['alliance_v4.1_by_directed_yearly.csv',
'alliance_v4.1_by_directed.csv',
'alliance_v4.1_by_dyad_yearly.csv',
'alliance_v4.1_by_dyad.csv',
'alliance_v4.1_by_member_yearly.csv',
'alliance_v4.1_by_member.csv',
'contcol.csv',
'contcold.csv',
'contcols.csv',
'contdir.csv',
'contdird.csv',
'contdirs.csv',
'COW country codes.csv',
'Diplomatic_Exchange_2006v1.csv',
'dyadic MIDs 3.1.csv',
'dyadic_trade_3.0.csv',
'dyadic_trade_supplement.csv',
'IGO_dyadunit_v2.3.csv',
'IGO_stateunit_v2.3.csv',
'igounit_v2.3.csv',
'Inter-StateWarData_v4.0.csv',
'Intra-StateWarData_v4.1.csv',
'majors2016.csv',
'MID2.1_GeneralSources.csv',
'MID2.1_SpecificSources.csv',
'MID3.0_Sources.csv',
'MIDA_4.2.csv',
'MIDB_4.2.csv',
'MIDI_4.01.csv',
'MIDIP_4.01.csv',
'MIDLOCA_2.0.csv',
'MIDLOCI_2.0.csv',
'national_trade_3.0.csv',
'national_trade_and_exchange_rate_supplement.csv',
'NMC_5_0-wsupplementary.csv',
'NMC_5_0.csv',
'Non-StateWarData_v4.0.csv',
'states2016.csv',
'system2016.csv',
'tc2014.csv',
'WRP_global.csv',
'WRP_national.csv',
'WRP_regional.csv']

In [5]:
# def df_head(df_input):
#     df_input.head()

In [6]:
df_list = []
for file in csv_files:
#     df_list.append("pd.read_csv('data/" + file + "', encoding = 'utf8').head()")
    print("pd.read_csv('data_all/" + file + "', encoding = 'utf8').head()")

pd.read_csv('data_all/alliance_v4.1_by_directed_yearly.csv', encoding = 'utf8').head()
pd.read_csv('data_all/alliance_v4.1_by_directed.csv', encoding = 'utf8').head()
pd.read_csv('data_all/alliance_v4.1_by_dyad_yearly.csv', encoding = 'utf8').head()
pd.read_csv('data_all/alliance_v4.1_by_dyad.csv', encoding = 'utf8').head()
pd.read_csv('data_all/alliance_v4.1_by_member_yearly.csv', encoding = 'utf8').head()
pd.read_csv('data_all/alliance_v4.1_by_member.csv', encoding = 'utf8').head()
pd.read_csv('data_all/contcol.csv', encoding = 'utf8').head()
pd.read_csv('data_all/contcold.csv', encoding = 'utf8').head()
pd.read_csv('data_all/contcols.csv', encoding = 'utf8').head()
pd.read_csv('data_all/contdir.csv', encoding = 'utf8').head()
pd.read_csv('data_all/contdird.csv', encoding = 'utf8').head()
pd.read_csv('data_all/contdirs.csv', encoding = 'utf8').head()
pd.read_csv('data_all/COW country codes.csv', encoding = 'utf8').head()
pd.read_csv('data_all/Diplomatic_Exchange_2006v1.csv', encoding = 'utf8').head()
pd.read_csv('data_all/dyadic MIDs 3.1.csv', encoding = 'utf8').head()
pd.read_csv('data_all/dyadic_trade_3.0.csv', encoding = 'utf8').head()
pd.read_csv('data_all/dyadic_trade_supplement.csv', encoding = 'utf8').head()
pd.read_csv('data_all/IGO_dyadunit_v2.3.csv', encoding = 'utf8').head()
pd.read_csv('data_all/IGO_stateunit_v2.3.csv', encoding = 'utf8').head()
pd.read_csv('data_all/igounit_v2.3.csv', encoding = 'utf8').head()
pd.read_csv('data_all/Inter-StateWarData_v4.0.csv', encoding = 'utf8').head()
pd.read_csv('data_all/Intra-StateWarData_v4.1.csv', encoding = 'utf8').head()
pd.read_csv('data_all/majors2016.csv', encoding = 'utf8').head()
pd.read_csv('data_all/MID2.1_GeneralSources.csv', encoding = 'utf8').head()
pd.read_csv('data_all/MID2.1_SpecificSources.csv', encoding = 'utf8').head()
pd.read_csv('data_all/MID3.0_Sources.csv', encoding = 'utf8').head()
pd.read_csv('data_all/MIDA_4.2.csv', encoding = 'utf8').head()
pd.read_csv('data_all/MIDB_4.2.csv', encoding = 'utf8').head()
pd.read_csv('data_all/MIDI_4.01.csv', encoding = 'utf8').head()
pd.read_csv('data_all/MIDIP_4.01.csv', encoding = 'utf8').head()
pd.read_csv('data_all/MIDLOCA_2.0.csv', encoding = 'utf8').head()
pd.read_csv('data_all/MIDLOCI_2.0.csv', encoding = 'utf8').head()
pd.read_csv('data_all/national_trade_3.0.csv', encoding = 'utf8').head()
pd.read_csv('data_all/national_trade_and_exchange_rate_supplement.csv', encoding = 'utf8').head()
pd.read_csv('data_all/NMC_5_0-wsupplementary.csv', encoding = 'utf8').head()
pd.read_csv('data_all/NMC_5_0.csv', encoding = 'utf8').head()
pd.read_csv('data_all/Non-StateWarData_v4.0.csv', encoding = 'utf8').head()
pd.read_csv('data_all/states2016.csv', encoding = 'utf8').head()
pd.read_csv('data_all/system2016.csv', encoding = 'utf8').head()
pd.read_csv('data_all/tc2014.csv', encoding = 'utf8').head()
pd.read_csv('data_all/WRP_global.csv', encoding = 'utf8').head()
pd.read_csv('data_all/WRP_national.csv', encoding = 'utf8').head()
pd.read_csv('data_all/WRP_regional.csv', encoding = 'utf8').head()

In [7]:
pd.read_csv('data_all/alliance_v4.1_by_directed_yearly.csv', encoding = 'utf8').head()

,version4id,ccode1,state_name1,ccode2,state_name2,dyad_st_day,dyad_st_month,dyad_st_year,dyad_end_day,dyad_end_month,dyad_end_year,left_censor,right_censor,defense,neutrality,nonaggression,entente,year,version
0,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012.0,1,1,1,0,1.0,0.0,1816,4.1
1,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012.0,1,1,1,0,1.0,0.0,1817,4.1
2,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012.0,1,1,1,0,1.0,0.0,1818,4.1
3,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012.0,1,1,1,0,1.0,0.0,1819,4.1
4,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012.0,1,1,1,0,1.0,0.0,1820,4.1

In [8]:
pd.read_csv('data_all/alliance_v4.1_by_directed.csv', encoding = 'utf8').head()

,version4id,ccode1,state_name1,ccode2,state_name2,dyad_st_day,dyad_st_month,dyad_st_year,dyad_end_day,dyad_end_month,dyad_end_year,left_censor,right_censor,defense,neutrality,nonaggression,entente,version
0,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,NaN,1,1,1,0,1.0,0.0,4.1
1,1,235,Portugal,200,United Kingdom,1,1,1816,NaN,NaN,NaN,1,1,1,0,1.0,0.0,4.1
2,2,200,United Kingdom,380,Sweden,1,1,1816,15.0,2.0,1911.0,1,0,0,0,0.0,1.0,4.1
3,2,380,Sweden,200,United Kingdom,1,1,1816,15.0,2.0,1911.0,1,0,0,0,0.0,1.0,4.1
4,3,240,Hanover,245,Bavaria,1,1,1838,15.0,3.0,1848.0,0,0,1,0,1.0,1.0,4.1

In [9]:
pd.read_csv('data_all/alliance_v4.1_by_dyad_yearly.csv', encoding = 'utf8').head()

,version4id,ccode1,state_name1,ccode2,state_name2,dyad_st_day,dyad_st_month,dyad_st_year,dyad_end_day,dyad_end_month,dyad_end_year,left_censor,right_censor,defense,neutrality,nonaggression,entente,year,version
0,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012,1,1,1,0,1.0,0.0,1816,4.1
1,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012,1,1,1,0,1.0,0.0,1817,4.1
2,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012,1,1,1,0,1.0,0.0,1818,4.1
3,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012,1,1,1,0,1.0,0.0,1819,4.1
4,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,2012,1,1,1,0,1.0,0.0,1820,4.1

In [10]:
pd.read_csv('data_all/alliance_v4.1_by_dyad.csv', encoding = 'utf8').head()

,version4id,ccode1,state_name1,ccode2,state_name2,dyad_st_day,dyad_st_month,dyad_st_year,dyad_end_day,dyad_end_month,dyad_end_year,left_censor,right_censor,defense,neutrality,nonaggression,entente,asymmetric,version
0,1,200,United Kingdom,235,Portugal,1,1,1816,NaN,NaN,NaN,1,1,1,0,1,0.0,0,4.1
1,2,200,United Kingdom,380,Sweden,1,1,1816,15.0,2.0,1911.0,1,0,0,0,0,1.0,0,4.1
2,3,240,Hanover,245,Bavaria,1,1,1838,15.0,3.0,1848.0,0,0,1,0,1,1.0,0,4.1
3,3,240,Hanover,245,Bavaria,29,11,1850,15.0,6.0,1866.0,0,0,1,0,1,1.0,0,4.1
4,3,240,Hanover,255,Germany,1,1,1838,15.0,3.0,1848.0,0,0,1,0,1,1.0,0,4.1

In [11]:
pd.read_csv('data_all/alliance_v4.1_by_member_yearly.csv', encoding = 'utf8').head()

,version4id,ccode,state_name,all_st_day,all_st_month,all_st_year,all_end_day,all_end_month,all_end_year,ss_type,mem_st_day,mem_st_month,mem_st_year,mem_end_day,mem_end_month,mem_end_year,left_censor,right_censor,defense,neutrality,nonaggression,entente,year,version
0,1,200,United Kingdom,9,5,1386,NaN,NaN,NaN,Type I: Defense Pact,1,1,1816,NaN,NaN,2012,1.0,1,1,0,1.0,0.0,1816,4.1
1,1,200,United Kingdom,9,5,1386,NaN,NaN,NaN,Type I: Defense Pact,1,1,1816,NaN,NaN,2012,1.0,1,1,0,1.0,0.0,1817,4.1
2,1,200,United Kingdom,9,5,1386,NaN,NaN,NaN,Type I: Defense Pact,1,1,1816,NaN,NaN,2012,1.0,1,1,0,1.0,0.0,1818,4.1
3,1,200,United Kingdom,9,5,1386,NaN,NaN,NaN,Type I: Defense Pact,1,1,1816,NaN,NaN,2012,1.0,1,1,0,1.0,0.0,1819,4.1
4,1,200,United Kingdom,9,5,1386,NaN,NaN,NaN,Type I: Defense Pact,1,1,1816,NaN,NaN,2012,1.0,1,1,0,1.0,0.0,1820,4.1

In [12]:
pd.read_csv('data_all/alliance_v4.1_by_member.csv', encoding = 'utf8').head()

,version4id,ccode,state_name,all_st_day,all_st_month,all_st_year,all_end_day,all_end_month,all_end_year,ss_type,mem_st_day,mem_st_month,mem_st_year,mem_end_day,mem_end_month,mem_end_year,left_censor,right_censor,defense,neutrality,nonaggression,entente,version
0,1,200,United Kingdom,9,5,1386,NaN,NaN,NaN,Type I: Defense Pact,1,1,1816,NaN,NaN,NaN,1.0,1,1,0,1.0,0.0,4.1
1,1,235,Portugal,9,5,1386,NaN,NaN,NaN,Type I: Defense Pact,1,1,1816,NaN,NaN,NaN,1.0,1,1,0,1.0,0.0,4.1
2,2,200,United Kingdom,5,2,1766,15.0,2.0,1911.0,Type III: Entente,1,1,1816,15.0,2.0,1911.0,1.0,0,0,0,0.0,1.0,4.1
3,2,380,Sweden,5,2,1766,15.0,2.0,1911.0,Type III: Entente,1,1,1816,15.0,2.0,1911.0,1.0,0,0,0,0.0,1.0,4.1
4,3,240,Hanover,8,6,1815,15.0,6.0,1866.0,Type I: Defense Pact,1,1,1838,15.0,3.0,1848.0,0.0,0,1,0,1.0,1.0,4.1

In [13]:
pd.read_csv('data_all/contcol.csv', encoding = 'utf8').head()

,dyad,statelno,statelab,dependl,conttype,statehno,statehab,dependh,begin,end,version
0,2020,2,USA,3,1,20,CAN,0,1920,1959,3.1
1,2031,2,USA,1044,5,31,BHM,0,1973,2016,3.1
2,2040,2,USA,1087,5,40,CUB,0,1909,1971,3.1
3,2040,2,USA,1087,5,40,CUB,0,1902,1906,3.1
4,2040,2,USA,1044,4,40,CUB,0,1916,2016,3.1

In [14]:
pd.read_csv('data_all/contcold.csv', encoding = 'utf8').head()

   dyad  statelno statelab  statehno statehab  year  land  sea  total  version
0  2020         2      USA        20      CAN  1920     1    0      1      3.1
1  2020         2      USA        20      CAN  1921     1    0      1      3.1
2  2020         2      USA        20      CAN  1922     1    0      1      3.1
3  2020         2      USA        20      CAN  1923     1    0      1      3.1
4  2020         2      USA        20      CAN  1924     1    0      1      3.1

In [15]:
pd.read_csv('data_all/contcols.csv', encoding = 'utf8').head()

   stateno stateab  year  total  land  sea  version
0        2     USA  1816      0     0    0      3.1
1        2     USA  1817      0     0    0      3.1
2        2     USA  1818      0     0    0      3.1
3        2     USA  1819      0     0    0      3.1
4        2     USA  1820      0     0    0      3.1

In [16]:
pd.read_csv('data_all/contdir.csv', encoding = 'utf8').head()

,dyad,statelno,statelab,statehno,statehab,conttype,begin,end,notes,version
0,2020,2,USA,20,CAN,1,192001,201612,Begins with CAN system entry,3.2
1,2031,2,USA,31,BHM,4,197307,201612,Across Atlantic Ocean (closest=Florida-Bimini)...,3.2
2,2040,2,USA,40,CUB,4,190205,190609,Across Florida Straits (closest=Key West); beg...,3.2
3,2040,2,USA,40,CUB,4,190901,201612,Across Florida Straits (closest=Key West); res...,3.2
4,2070,2,USA,70,MEX,1,183101,201612,Begins with MEX system entry,3.2

In [17]:
pd.read_csv('data_all/contdird.csv', encoding = 'utf8').head()

   dyad  state1no state1ab  state2no state2ab  year  conttype  version
0  2020         2      USA        20      CAN  1920         1      3.2
1  2020         2      USA        20      CAN  1921         1      3.2
2  2020         2      USA        20      CAN  1922         1      3.2
3  2020         2      USA        20      CAN  1923         1      3.2
4  2020         2      USA        20      CAN  1924         1      3.2

In [18]:
pd.read_csv('data_all/contdirs.csv', encoding = 'utf8').head()

   stateno stateab  year  total  land  sea  version
0        2     USA  1816      0     0    0      3.2
1        2     USA  1817      0     0    0      3.2
2        2     USA  1818      0     0    0      3.2
3        2     USA  1819      0     0    0      3.2
4        2     USA  1820      0     0    0      3.2

In [19]:
pd.read_csv('data_all/COW country codes.csv', encoding = 'utf8').head()

  StateAbb  CCode                  StateNme
0      USA      2  United States of America
1      CAN     20                    Canada
2      BHM     31                   Bahamas
3      CUB     40                      Cuba
4      CUB     40                      Cuba

In [20]:
pd.read_csv('data_all/Diplomatic_Exchange_2006v1.csv', encoding = 'utf8').head()

   ccode1  ccode2  year  DR_at_1  DR_at_2  DE      version
0       2      20  1920        0        0   0  2006.099976
1       2      20  1925        0        0   0  2006.099976
2       2      20  1930        0        2   1  2006.099976
3       2      20  1935        2        2   1  2006.099976
4       2      20  1940        2        2   1  2006.099976

In [21]:
pd.read_csv('data_all/dyadic MIDs 3.1.csv', encoding = 'utf8').head()

,disno,dyindex,statea,namea,stateb,nameb,strtday,strtmnth,strtyr,year,endday,endmnth,endyear,outcome,settlmnt,fatlev,highact,hihost,recip,noinit,notarg,sideaa,revstata,revtypea,fatleva,highmcaa,hihosta,orignata,sideab,revstatb,revtypeb,fatlevb,highmcab,hihostb,orignatb,rolea,roleb,war,durindx,cumdurat,duration,disno4,mid3hiact,mid3hia,mid3hib,ongo2010,new,change,changetype_1,changetype_2
0,2,2.001,2,USA,200,UKG,1,7.0,1902,1902,24,1,1903,0,0,0,7,3,0,1,1,1,1,1,0,7,3,1,0,1,1,0,1,1,1,1,3,0,1,184,184,-9,7,7,0,0,0,0,0,NaN
1,2,2.001,2,USA,200,UKG,1,7.0,1902,1903,24,1,1903,6,1,0,7,3,0,1,1,1,1,1,0,7,3,1,0,1,1,0,1,1,1,1,3,0,2,209,25,-9,7,7,0,0,0,0,0,NaN
2,2,2.001,200,UKG,2,USA,1,7.0,1902,1902,24,1,1903,0,0,0,7,3,0,1,1,0,1,1,0,1,1,1,1,1,1,0,7,3,1,3,1,0,1,184,184,-9,7,0,7,0,0,0,0,NaN
3,2,2.001,200,UKG,2,USA,1,7.0,1902,1903,24,1,1903,6,1,0,7,3,0,1,1,0,1,1,0,1,1,1,1,1,1,0,7,3,1,3,1,0,2,209,25,-9,7,0,7,0,0,0,0,NaN
4,3,3.001,300,AUH,345,YUG,2,5.0,1913,1913,25,10,1913,4,3,0,10,3,0,1,1,1,1,2,0,10,3,1,0,0,0,0,1,1,1,1,3,0,1,177,177,-9,8,8,0,0,0,0,0,NaN

In [22]:
pd.read_csv('data_all/dyadic_trade_3.0.csv', encoding = 'utf8').head()

,ccode1,ccode2,year,importer1,importer2,flow1,flow2,source1,source2,bel_lux_alt_flow1,bel_lux_alt_flow2,china_alt_flow1,china_alt_flow2,version
0,2.0,20,1920,United States of America,Canada,611.86,735.48,1,1,-9.0,-9.0,-9.0,-9.0,2.01
1,2.0,20,1921,United States of America,Canada,335.44,442.99,1,1,-9.0,-9.0,-9.0,-9.0,2.01
2,2.0,20,1922,United States of America,Canada,364.02,502.84,1,1,-9.0,-9.0,-9.0,-9.0,2.01
3,2.0,20,1923,United States of America,Canada,416.00,598.14,1,1,-9.0,-9.0,-9.0,-9.0,2.01
4,2.0,20,1924,United States of America,Canada,399.14,496.32,1,1,-9.0,-9.0,-9.0,-9.0,2.01

In [23]:
pd.read_csv('data_all/dyadic_trade_supplement.csv', encoding = 'utf8').head()

,Year,Importer,Exporter,Value,Currency,Exp,Source,Note,Xrate,Flow1,Version
0,1870,arg,auh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.01
1,1870,arg,bad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.01
2,1870,arg,bav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.01
3,1870,arg,bel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.01
4,1870,arg,bol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.01

In [24]:
pd.read_csv('data_all/IGO_dyadunit_v2.3.csv', encoding = 'utf8').head()

,ccode1,country1,ccode2,country2,year,AAAID,AAB,AACB,AACarib,AALCO,AARO,AATA,AATPO,ABEDA,ABEPSEAC,ACC,ACCT,ACDT,ACI,ACML,ACP,ACPEU,ACS,ACSO,ACSSRB,ACU,ACWL,AFESD,AFEXIMB,AFGEC,AFPU,AFRAND,AFSPC,AFTE,AGC,AGPUNDO,AIC,AIDC,AIDO,AIOEC,AIPO,AITIC,ALO,AMCO,AMCOW,AMF,AMIPO,AMPTU,AMSC,AMU,ANZUS,AOAD,AOCRS,AOMR,AOPU,AP,APCC,APEC,APFIC,APIBD,APO,APPA,APT,APTU,ARC,ARCAL,ARIPO,ARPU,ASATP,ASBLAC,ASCBC,ASCRubber,ASEAN,ASECNA,ASEF,ASPAC,ATO,ATPC,AU,AVRDC,AfDB,AfrOPDA,Africare,AmCC,Andean,AralSea,ArticC,AsDB,BALTBAT,BC,BCSC,BEF,BEN,BENELUX,BESCC,BIISEF,BIONET,BIPM,BIS,BNDP,BOBP,BONN,BSEC,CAAD,CAARC,CAB,CABI,CACB,CACI,CAECC,CAIPA,CAMES,CAMRSD,CAMSF,CARICOM,CARIFTA,CARII,CATC,CBFP,CBI,CBSS,CCNR,CCOM,CCPA,CComm,CDB,CEAO,CEC,CEEPN,CEFTA,CEI,CELC,CEMAC,CENTO,CEPGL,CERN,CFATF,CFC,CHSTEA,CICA,CIFC,CIMA,CIS,CMAEC,CMAOC,CMEA,CMHASG,COE,COLOMBO,COMESA,CONFEJES,COPTAC,COSAVE,COrg,CP,CPAB,CPSC,CPU,CSLF,CTCAf,CTO,CWGC,CXC,CfRN,ComAB,ComSec,DBGLS,DLCOEA,Danube,EACM,EACS,EACSO,EADB,EAPC,EAPO,EBRD,ECB,ECCA,ECCAS,ECCB,ECCD,ECCM,ECCPIF,ECO,ECOWAS,ECPTA,ECSC,EEC,EFCC,EFILWC,EFTA,EIB,EIPA,ELDO,EMB,EMBC,EMBL,EMI,EMPPO,EPA,EPFSC,EPO,EPU,ESA,ESO,ESRO,ETF,EU,EUFMD,EURATOM,EUROCONTROL,EUROFIMA,EUROMET,Entente,FAO,FAPED,FDIPLAC,FEC,G15,G24,G3,GATT,GBACT,GCC,GCRSNC,GEF,GEO,GHSI,GLACSEC,GOIC,GRBDO,HCPIL,IABE,IABath,IACB,IACI,IACS,IACSS,IACW,IADB,IADefB,IAEA,IAFC,IAHC,IAIAS,IAIC,IAIGC,IAII,IALong,IAMLO,IAPhy,IARA,IARHC,IARadiO,IARuhr,IAS,IASAJ,IATB,IATSJ,IATTC,IBA,IBCS,IBE,IBEC,IBI,IBIER,IBPMP,IBRD,ICAC,ICAI,ICAO,ICAmO,ICC,ICCEC,ICCILMB,ICCO,ICCROM,ICCS,ICCSLT,ICDR,ICES,ICFAM,ICHRB,ICMMP,ICNC,ICNWAF,ICPRP,ICPTU,ICRI,ICRPBC,ICSE,ICSEAF,ICSG,ICTM,ICWMD,ICfO,IChemO,ICivDO,IComO,IDC,IEA,IEC,IES,IEXB,IFAD,IFC,IFCA,IGAD,IGC,IGCC,IHO,IIA,IICom,IIE,IIF,IIWEE,IJO,ILO,ILZSG,IMBSlav,IMC,IMF,IMI,IMO,IMSO,INCAP,INFOFISH,INFSMK,INRO,INSG,INTELSAT,INTERPOL,IOATHRE,IOCom,IOEz,IOLM,IOMig,IOOC,IOPCF,IOPH,IOcC,IPC,IPGRI,IPI,IPedI,IPentC,IPhyL,IPrizeC,IRC,IRLCS,IRO,IRSG,IRU,ISA,ISB,ISDB,ISHREST,ISRBC,ISUPT,ISuC,ITC,ITCC,ITCLE,ITPA,ITRO,ITTO,ITU,ITVRC,IUIC,IUPCT,IUPIP,IUPLAW,IUPNVP,IUPR,IVWO,IWSG,IWhale,Iocean,JALAAO,JINR,JNOLCRH,LACAC,LACP,LAEO,LAFDO,LAFTA,LAIA,LAIEC,LATIN,LCBC,LGIDA,LOAS,LoN,MARRI,MCPTTC,MCWCASM,MEMTTA,MFO,MIGA,MOPAN,MRU,MWN,Mercosur,Montreal,NACAP,NAFO,NAFTA,NAM,NAPPO,NASCO,NATO,NCM,NCRR,NCTR,NDF,NEAFC,NERC,NIB,NPAFC,NPFSC,NRC,NTSC,NWHF,NordC,OAPEC,OAS,OAU,OCAM,OCAS,OCCEDCA,OCR,OECD,OECS,OEEC,OESAS,OIC,OIV,OMDKR,OPANAL,OPEC,OSCE,OSLO,OSPAR,OTIF,PAHC,PAHO,PAIGH,PAP,PC,PCA,PCB,PCSP,PED,PIARC,PIBAC,PICDCS,PICES,PICS,PIF,PIPD,PMAESA,PSI,PSNARCO,PTASEA,PUASP,RASCOM,RCAELA,RCC,RECSA,RIMMO,RIOPPAH,RIOgroup,RadioU,RepCom,SAAFA,SAARC,SACEP,SACU,SADC,SADCC,SAMI,SARTC,SCA,SCAf,SCH,SCHENGEN,SEAMEO,SEATO,SEGIB,SELA,SICA,SIECA,SITTDEC,SPC,SRDO,SWAPU,SWPD,SugU,TARHEC,TCRMG,TIC,Turksoy,UASC,UBEC,UDEAC,UEMOA,UIUCV,UKDWD,UMAC,UMOA,UN,UNDROIT,UNESCO,UNIDO,UPU,USP,VALDIVIA,VASAB,WAEC,WAHC,WAHO,WARDA,WCDC,WCO,WEU,WHO,WIPO,WMO,WNF,WPact,WTO,WTOURO,Wassen
0,2,usa,20,canada,1920,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,0,-1,0,-1,-1,-1,0,-1,-1,-1,0,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,0,0,0,-1,-1,-1,-1,-1,-1,0,-1,-1,0,-1,-1,0,-1,-1,-1,-1,0,0,-1,0,1,-1,-1,-1,-1,-1,-1,-1,0,1,0,0,0,-1,-1,0,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,0,1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,0,0,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,0,-1,-1,-1,0,0,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,0,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,2,usa,20,canada,1925,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,0,-1,-1,-1,0,-1,-1,-1,-1,0,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,0,0,0,-1,-1,0,-1,-1,-1,0,-1,-1,0,-1,-1,0,-1,-1,-1,-1,0,0,-1,0,1,-1,-1,-1,-1,-1,-1,-1,0,1,0,0,0,-1,-1,0,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,0,-1,-1,-1,-1,1,-1,-1,-1,-1,0,1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,0,-1,-1,0,0,0,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,0,-1,-1,-1,0,0,-1,-1,0,0,-1,-1,0,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,0,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,2,usa,20,canada,1930,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-9,0,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,0,-1,-1,-1,-1,0,-1,-1,-1,-1,0,-1,-1,-1,0,-1,-1,-1,-1,0,-1,-1,-1,0,0,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,0,0,0,-1,-1,0,-1,-1,-1,0,-1,-1,0,-1,-1,0,-1,-1,0,-1,0,-1,-1,0,1,0,-1,-1,-1,-1,-1,-1,0,1,0,0,0,-1,-1,1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,0,-1,-1,-1,-1,1,-1,-1,-1,-1,0,1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,0,0,-1,-1,-1,0,-1,-1,0,0,0,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,0,0,-1,-1,0,0,-1,-1,0,0,-1,-1,0,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,0,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,2,usa,20,canada,1935,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-9,0,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,0,0,-1,-1,-1,-1,-1,-1,0,0,-1,-1,-1,-1,-1,-1,-1,0,0,0,-1,-1,0,-1,-1,-1,0,-1,-1,0,-1,-1,-9,-1,-1,0,-1,0,-1,-1,0,1,0,-1,-1,-1,-1,-1,-1,0,1,0,-1,1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,0,-1,-1,-1,-1,1,-1,-1,-1,-1,0,1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,0,0,-1,-1,-1,1,-1,-1,1,1,0,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,0,0,-1,-1,0,0,-1,-1,0,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,0,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,2,usa,20,canada,1940,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-9,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-9,0,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,0,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,0,-1,-1,-1,0,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,0,0,0,-1,-1,-1,-1,-1,-1,-1,0,-1,0,-1,-1,0,-1,-1,-1,-1,-1,-1,-9,-1,-1,-1,-1,-1,-9,-1,-1,0,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,0,1,0,-1,1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,0,-1,-1,-1,-1,1,-1,-1,-1,-1,0,1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,0,-1,0,0,-1,-1,-1,1,-1,-1,1,0,0,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-9,0,0,1,-1,-1,0,0,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,0,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [25]:
# pd.read_csv('data_all/IGO_stateunit_v2.3.csv', encoding = 'latin-1').head()

In [26]:
pd.read_csv('data_all/igounit_v2.3.csv', encoding = 'latin-1').head()

,ioname,orgname,year,afghanistan,albania,algeria,andorra,angola,antiguabarbuda,argentina,armenia,australia,austria,austriahungary,azerbaijan,baden,bahamas,bahrain,bangladesh,barbados,bavariaelect,belarus,belgium,belize,benin,bhutan,bolivia,bosnia,botswana,brazil,brunei,bulgaria,burkinafaso,burundi,car,cambodia,cameroon,canada,capeverde,chad,chile,china,colombia,comoros,congobrazz,costarica,croatia,cuba,cyprus,czechrep,czechoslovakia,denmark,djibouti,domrepublic,dominica,egermany,etimor,ecuador,egypt,elsalvador,eqguinea,eritrea,estonia,ethiopia,fyromacedonia,fiji,finland,france,gabon,gambia,georgia,germany,ghana,greece,grenada,guatemala,guinea,guineabissau,guyana,haiti,hanover,hesseelect,hessegrand,honduras,hungary,iceland,india,indonesia,iran,iraq,ireland,israel,italy,ivorycoast,jamaica,japan,jordan,kazakhstan,kenya,kiribati,korea,kuwait,kyrgyzstan,laos,latvia,lebanon,lesotho,liberia,libya,liechtenstein,lithuania,luxembourg,madagascar,malawi,malaysia,maldives,mali,malta,marshallis,mauritania,mauritius,mecklenburg,mexico,micronesiafs,modena,moldova,monaco,mongolia,morocco,mozambique,myanmar,namibia,nauru,nepal,netherlands,newzealand,nicaragua,niger,nigeria,nokorea,norway,nyemen,oman,pakistan,palau,panama,papalstates,papuanewguinea,paraguay,parma,peru,philippines,poland,portugal,qatar,romania,russia,rwanda,svietnam,syemen,sanmarino,saotome,saudiarabia,saxony,senegal,seychelles,sierraleone,singapore,slovakia,slovenia,soafrica,sokorea,solomonis,somalia,spain,srilanka,stkitts,stlucia,stvincent,sudan,suriname,swaziland,sweden,switzerland,syria,taiwan,tajikistan,tanzania,thailand,togo,tonga,trinidad,tunisia,turkey,turkmenistan,tuscany,tuvalu,twosicilies,uae,uk,usa,uganda,ukraine,uruguay,uzbekistan,vanuatu,venezuela,vietnam,wgermany,wsamoa,wurtenburg,yemen,yugoslaviaserb,zaire,zambia,zanzibar,zimbabwe,dead,deaddate,integrated,replaced,igocode,ionum,longorgname,sdate,version,Sources,Sources2
0,AAAID,Arab Auth. for Ag. Invest. & Development,1976,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,0,NaN,0,0,NaN,370,Arab Authority for Agricultural Investment and...,1976.0,2.1,NaN,NaN
1,AAAID,Arab Auth. for Ag. Invest. & Development,1977,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,0,NaN,0,0,NaN,370,Arab Authority for Agricultural Investment and...,1976.0,2.1,NaN,NaN
2,AAAID,Arab Auth. for Ag. Invest. & Development,1978,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,0,NaN,0,0,NaN,370,Arab Authority for Agricultural Investment and...,1976.0,2.1,NaN,NaN
3,AAAID,Arab Auth. for Ag. Invest. & Development,1979,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,0,NaN,0,0,NaN,370,Arab Authority for Agricultural Investment and...,1976.0,2.1,NaN,NaN
4,AAAID,Arab Auth. for Ag. Invest. & Development,1980,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,0,NaN,0,0,NaN,370,Arab Authority for Agricultural Investment and...,1976.0,2.1,NaN,NaN

In [27]:
pd.read_csv('data_all/Inter-StateWarData_v4.0.csv', encoding = 'utf8').head()

,WarNum,WarName,WarType,ccode,StateName,Side,StartMonth1,StartDay1,StartYear1,EndMonth1,EndDay1,EndYear1,StartMonth2,StartDay2,StartYear2,EndMonth2,EndDay2,EndYear2,TransFrom,WhereFought,Initiator,Outcome,TransTo,BatDeath,Version
0,1,Franco-Spanish War,1,230,Spain,2,4,7,1823,11,13,1823,-8,-8,-8,-8,-8,-8,503,2,2,2,-8,600,4
1,1,Franco-Spanish War,1,220,France,1,4,7,1823,11,13,1823,-8,-8,-8,-8,-8,-8,503,2,1,1,-8,400,4
2,4,First Russo-Turkish,1,640,Ottoman Empire,2,4,26,1828,9,14,1829,-8,-8,-8,-8,-8,-8,506,11,2,2,-8,80000,4
3,4,First Russo-Turkish,1,365,Russia,1,4,26,1828,9,14,1829,-8,-8,-8,-8,-8,-8,506,11,1,1,-8,50000,4
4,7,Mexican-American,1,70,Mexico,2,4,25,1846,9,14,1847,-8,-8,-8,-8,-8,-8,-8,1,2,2,-8,6000,4

In [28]:
# for i, row in enumerate(inter_df):
#     inter_df.loc[i, 'date_start'] = str(inter_df.loc[i, 'StartMonth1']) + '/' + str(inter_df.loc[i, 'StartDay1']) + '/' + str(inter_df.loc[i, 'StartYear1'])
#     inter_df.loc[i, 'date_start'] = pd.to_datetime(inter_df.loc[i, 'date_start'])
#     if inter_df.loc[i, 'EndYear2'] != -8:
#         inter_df.loc[i, 'date_end'] = str(inter_df.loc[i, 'EndMonth2']) + '/' + str(inter_df.loc[i, 'EndDay2']) + '/' + str(inter_df.loc[i, 'EndYear2'])
#     else:
#         inter_df.loc[i, 'date_end'] = str(inter_df.loc[i, 'EndMonth1']) + '/' + str(inter_df.loc[i, 'EndDay1']) + '/' + str(inter_df.loc[i, 'EndYear1'])
#     inter_df.loc[i, 'date_end'] = pd.to_datetime(inter_df.loc[i, 'date_end'])
#     if  inter_df.loc[i, 'Side'] == inter_df.loc[i, 'Initiator']:
#         inter_df.loc[i, 'Initiator'] = 'Yes'
#     else:
#         inter_df.loc[i, 'Initiator'] = 'No'
    
# inter_df.drop(['StartMonth1', 'StartDay1', 'StartYear1', 'EndMonth1',
#                'EndDay1', 'EndYear1', 'StartMonth2', 'StartDay2',
#                'StartYear2', 'EndMonth2', 'EndDay2', 'EndYear2'],
#               axis = 1, inplace = True)

# # 'WhereFought', 'Outcome', 'Side'

In [29]:
# inter_df.rename({'WarNum': 'war_id', 'StateName': 'country'})

In [30]:
# inter_df['WhereFought'].astype(str).unique()

In [31]:
pd.read_csv('data_all/Intra-StateWarData_v4.1.csv', encoding = 'latin-1').head()

,WarNum,WarName,WarType,CcodeA,SideA,CcodeB,SideB,Intnl,StartMonth1,StartDay1,StartYear1,EndMonth1,EndDay1,EndYear1,StartMonth2,StartDay2,StartYear2,EndMonth2,EndDay2,EndYear2,TransFrom,WhereFought,Initiator,Outcome,TransTo,SideADeaths,SideBDeaths,Version
0,500,First Caucasus,5,365.0,Russia,-8.0,"Georgians, Dhagestania, Chechens",0,6,10,1818,-9,-9,1822.0,-8,-8,-8,-8,-8,-8,-8.0,2,Chechens,1,-8,5000,6000,4.1
1,501,Sidon-Damascus,6,-8.0,Sidon,-8.0,Damascus & Aleppo,0,6,-9,1820,7,21,1821.0,-8,-8,-8,-8,-8,-8,-8.0,6,Sidon,2,-8,-9,-9,4.1
2,502,First Two Sicilies,4,300.0,Austria,-8.0,-8,1,3,-9,1821,3,23,1821.0,-8,-8,-8,-8,-8,-8,-8.0,2,Liberals,1,-8,-9,-8,4.1
3,502,First Two Sicilies,4,329.0,Two Sicilies,-8.0,Liberals,1,7,2,1820,3,23,1821.0,-8,-8,-8,-8,-8,-8,-8.0,2,Liberals,1,-8,-9,-9,4.1
4,503,Spanish Royalists,4,230.0,Spain,-8.0,Royalists,0,12,1,1821,4,6,1823.0,-8,-8,-8,-8,-8,-8,-8.0,2,Royalists,4,1,-9,-9,4.1

In [32]:
pd.read_csv('data_all/majors2016.csv', encoding = 'utf8').head()

  stateabb  ccode  styear  stmonth  stday  endyear  endmonth  endday  version
0      USA      2    1898        8     13     2016        12      31     2016
1      UKG    200    1816        1      1     2016        12      31     2016
2      FRN    220    1816        1      1     1940         6      22     2016
3      FRN    220    1945        8     15     2016        12      31     2016
4      GMY    255    1816        1      1     1918        11      11     2016

In [33]:
pd.read_csv('data_all/MID2.1_GeneralSources.csv', encoding = 'latin-1').head()

,General Source List for MID 2.1 Data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abbreviation,Full name,NaN,NaN,NaN,NaN,NaN
3,AAP,AAP Newsfeed,NaN,NaN,NaN,NaN,NaN
4,AFDIG,Africa Digest,NaN,NaN,NaN,NaN,NaN

In [34]:
# pd.read_csv('data_all/MID2.1_SpecificSources.csv', encoding = 'utf8').head()

In [35]:
pd.read_csv('data_all/MID3.0_Sources.csv', encoding = 'latin-1').head()

    MID IncidentID      SourceName     Date   SourceInfo
0  3551    3551001             NYT      NaN    (Schafer)
1  3551    3551001  Glasgow Herald  1/12/93   1/12/93 p1
2  3551    3551001              AP  1/20/93      1/20/93
3  3551    3551001           WTIMS  1/16/93  1/16/93 pA7
4  3551    3551003            XGNS  2/10/93      2/10/93

In [36]:
pd.read_csv('data_all/MIDA_4.2.csv', encoding = 'utf8').head()

,dispnum3,dispnum4,stday,stmon,styear,endday,endmon,endyear,outcome,settle,fatality,fatalpre,maxdur,mindur,hiact,hostlev,recip,numa,numb,link1,link2,link3,ongo2010,version,changes_1,changes_2
0,2,-9,-9,7,1902,24,1,1903,6,1,0,0,208,178,7,3,0,1,1,0,0,0.0,0,4.2,0,0
1,3,-9,2,5,1913,25,10,1913,4,3,0,0,177,177,8,3,0,1,1,0,0,0.0,0,4.2,0,0
2,4,-9,15,5,1946,13,11,1946,5,3,2,-9,183,183,16,4,1,1,1,0,0,0.0,0,4.2,0,0
3,7,-9,13,10,1951,26,1,1952,1,3,2,-9,106,106,17,4,1,1,1,0,0,0.0,0,4.2,0,0
4,8,-9,-9,7,1856,5,4,1857,1,2,6,-9,257,227,20,5,1,1,1,0,0,0.0,0,4.2,1,2

In [37]:
pd.read_csv('data_all/MIDIP_4.01.csv', encoding = 'utf8').head()

,DispNum3,IncidNum3,DispNum4,IncidNum4,StAbb,ccode,StDay,StMon,StYear,EndDay,EndMon,EndYear,InSide A,SideA,Fatality,FatalPre,Action,HostLev,RevType1,RevType2,Version
0,3551,3551001,-9,-9,BEL,211,16,7,1992,16,7,1992,1,1,2,0,7,3,2,0,4.01
1,3551,3551001,-9,-9,CAN,20,16,7,1992,16,7,1992,1,1,2,0,7,3,2,0,4.01
2,3551,3551001,-9,-9,DEN,390,16,7,1992,16,7,1992,1,1,2,0,7,3,2,0,4.01
3,3551,3551001,-9,-9,FRN,220,16,7,1992,16,7,1992,1,1,2,0,7,3,2,0,4.01
4,3551,3551001,-9,-9,GMY,255,16,7,1992,16,7,1992,1,1,2,0,7,3,2,0,4.01

In [38]:
pd.read_csv('data_all/MIDB_4.2.csv', encoding = 'utf8').head()

,dispnum3,dispnum4,stabb,ccode,stday,stmon,styear,endday,endmon,endyear,sidea,revstate,revtype1,revtype2,fatality,fatalpre,hiact,hostlev,orig,version,changes_1,changes_2,changes_3
0,2,-9,UKG,200,-9,7,1902,24,1,1903,0,1,1,-9,0,0,0,1,1,4.2,0,0,0
1,2,-9,USA,2,-9,7,1902,24,1,1903,1,1,1,-9,0,0,7,3,1,4.2,0,0,0
2,3,-9,YUG,345,2,5,1913,25,10,1913,0,0,0,-9,0,0,0,1,1,4.2,0,0,0
3,3,-9,AUH,300,2,5,1913,25,10,1913,1,1,2,-9,0,0,8,3,1,4.2,0,0,0
4,4,-9,ALB,339,15,5,1946,13,11,1946,1,0,0,-9,0,0,16,4,1,4.2,0,0,0

In [39]:
pd.read_csv('data_all/MIDI_4.01.csv', encoding = 'utf8').head()

,DispNum3,IncidNum3,DispNum4,IncidNum4,StDay,StMon,StYear,EndDay,EndMon,EndYear,Duration,TBI,Fatality,FatalPre,Action,HostLev,NumA,RevType1,RevType2,Version
0,3551,3551001,-9,-9,16,7,1992,16,7,1992,1,129,0,0,7,3,13,2,0,4.01
1,3551,3551002,-9,-9,21,11,1992,24,9,1996,1404,-9,0,0,13,4,9,2,0,4.01
2,3551,3551003,-9,-9,-9,1,1993,-9,1,1993,-9,-9,0,0,7,3,3,2,0,4.01
3,3551,3551004,-9,-9,14,1,1993,-9,1,1993,-9,16,0,0,7,3,1,2,0,4.01
4,3551,3551005,-9,-9,30,1,1993,30,1,1993,1,4,0,0,15,4,1,2,0,4.01

In [40]:
pd.read_csv('data_all/MIDIP_4.01.csv', encoding = 'utf8').head()

,DispNum3,IncidNum3,DispNum4,IncidNum4,StAbb,ccode,StDay,StMon,StYear,EndDay,EndMon,EndYear,InSide A,SideA,Fatality,FatalPre,Action,HostLev,RevType1,RevType2,Version
0,3551,3551001,-9,-9,BEL,211,16,7,1992,16,7,1992,1,1,2,0,7,3,2,0,4.01
1,3551,3551001,-9,-9,CAN,20,16,7,1992,16,7,1992,1,1,2,0,7,3,2,0,4.01
2,3551,3551001,-9,-9,DEN,390,16,7,1992,16,7,1992,1,1,2,0,7,3,2,0,4.01
3,3551,3551001,-9,-9,FRN,220,16,7,1992,16,7,1992,1,1,2,0,7,3,2,0,4.01
4,3551,3551001,-9,-9,GMY,255,16,7,1992,16,7,1992,1,1,2,0,7,3,2,0,4.01

In [41]:
pd.read_csv('data_all/MIDLOCA_2.0.csv', encoding = 'latin-1').head()

,year,dispnum,midloc2_location,midloc2_measuringpoint,midloc2_xlongitude,midloc2_ylatitude,midloc2_precision,midloc2_howobtained,midloc2_precision_comment,midloc2_general_comment,priogrid_cell,midloc11_location,midloc11_midlocmeasuringpoint,midloc11_latitude,midloc11_longitude,midloc11_precision
0,1816,3239,United States (Florida [ADM1]),Centroid of ADM1,-82.4849,28.6407,4,ArcGIS and GADM,ADM1,NaN,88393.0,Spanish Florida,center pt of FL,28.0342,-81.5375,3.0
1,1817,3321,Bulgaria-Romania Border,Midpoint of shared (national) border,25.4793,43.6402,5,ArcGIS and cShapes,Point along a line,Uses 1946 data,66528.0,Danube River,"Bucharest, Romania",44.4333,26.1000,4.0
2,1818,1567,United States (Florida [ADM1]),Centroid of ADM1,-82.4849,28.6407,4,ArcGIS and GADM,ADM1,NaN,88393.0,Florida,center pt of FL,28.0342,-81.5375,3.0
3,1821,142,"Galati, Romania","Galati, Romania",28.0080,45.4353,5,latlong.net,> ADM1,NaN,64374.0,Danubian Principalities,"Galati, Romania",45.4500,28.0500,3.0
4,1821,147,"Rieti, Italy","Rieti, Italy",12.8567,42.4045,1,latlong.net,Precise location text,NaN,68743.0,"Rieti, Italy (Papal States)",Rieti,42.4000,12.8500,1.0

In [42]:
pd.read_csv('data_all/MIDLOCI_2.0.csv', encoding = 'latin-1').head()

,year,dispnum,incidnum,midloc2_location,midloc2_measuringpoint,midloc2_xlongitude,midloc2_ylatitude,midloc2_precision,onset,midloc2_howobtained,midloc2_precision_comment,midloc2_general_comment,priogrid_cell,midloc11_location,midloc11_midlocmeasuringpoint,midloc11_latitude,midloc11_longitude,midloc11_precision
0,1992,3550,3550001,Peru (Northwest [> ADM1]),Centroid of > ADM1,-77.9866,-7.11898,5,1,ArcGIS and GADM,> ADM1,NaN,140242.0,Northwest Peru,"Piura, Peru",-9.4500,-78.3667,3.0
1,1992,3551,3551001,Yugoslavia Territorial Waters,Centroid of territorial waters,18.9136,42.04860,3,1,ArcGIS and Marine Regions,Territorial waters,NaN,68755.0,NaN,petrovac,42.2000,18.9167,4.0
2,1992,3551,3551002,Unspecified,NaN,NaN,NaN,-99,0,NaN,Location unclear or unspecified,NaN,NaN,.,NaN,NaN,NaN,7.0
3,1992,3552,3552001,Iraq (Southern NFZ [> ADM1]),Centroid of Southern NFZ,45.0445,30.83390,5,1,ArcGIS and ESRI,> ADM1,NaN,85208.0,South of the 32d parallel and just north of th...,al ja'arah,31.8667,44.4833,4.0
4,1992,3552,3552002,Iraq (Southern NFZ [> ADM1]),Centroid of Southern NFZ,45.0445,30.83390,5,0,ArcGIS and ESRI,> ADM1,NaN,85208.0,"No-fly zone, Shi'ite regions of southern IRQ",basra,30.4833,47.8167,3.0

In [43]:
pd.read_csv('data_all/national_trade_3.0.csv', encoding = 'utf8').head()

,ccode,country,year,imports,exports,alt_imports,alt_exports,source1,source2,version
0,2,United States of America,1870,450.00,418.00,-9.0,-9.0,2,2,3
1,2,United States of America,1871,534.00,475.00,-9.0,-9.0,2,2,3
2,2,United States of America,1872,632.00,474.00,-9.0,-9.0,2,2,3
3,2,United States of America,1873,342.03,626.59,-9.0,-9.0,2,2,3
4,2,United States of America,1874,576.00,619.00,-9.0,-9.0,2,2,3

In [44]:
pd.read_csv('data_all/national_trade_and_exchange_rate_supplement.csv', encoding = 'utf8').head()

,Year,St Abb,StNum,Tot($mil),TotIm,TotEx,Currency,E,XRate,GXr,Bidrate,NewRt,NewExpRt,KatRate,Revised,Source,Note,TotRimp,TotRExp,TotTrade,Version
0,1870,arg,160,76.43,49.0,30.0,gpeso,6.0,1.03,1.03,NaN,1.03,NaN,NaN,NaN,"Mitchell,(A&A),p#550",NaN,47.41,29.02,76.43,2.01
1,1870,auh,300,831.50,872.0,791.0,kronen,6.0,NaN,NaN,2.0,2.00,NaN,2.05,florins to L to $ (2.055),"Mitchell,(Eur),p#509",NaN,436.00,395.50,831.50,2.01
2,1870,bad,267,-999.00,NaN,NaN,miss,NaN,NaN,2.44,NaN,2.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-999.00,2.01
3,1870,bav,245,-999.00,NaN,NaN,miss,NaN,NaN,2.44,NaN,2.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-999.00,2.01
4,1870,bel,211,307.14,921.0,690.0,franc,6.0,5.24,5.24,NaN,5.24,NaN,NaN,NaN,"Mitchell,(Eur),p#509",NaN,175.59,131.55,307.14,2.01

In [45]:
pd.read_csv('data_all/NMC_5_0-wsupplementary.csv', encoding = 'latin-1').head()

,statenme,stateabb,ccode,year,milex,milexsource,milexnote,milper,milpersource,milpernote,irst,irstsource,irstnote,irstqualitycode,irstanomalycode,pec,pecsource,pecnote,pecqualitycode,pecanomalycode,tpop,tpopsource,tpopnote,tpopqualitycode,tpopanomalycode,upop,upopsource,upopnote,upopqualitycode,upopanomalycode,upopgrowth,upopgrowthsource,cinc,version
0,United States of America,USA,2,1816,3823,NaN,NaN,17,(U.S. Department of Commerce and Bureau of the...,verified 10/22/2001. DLD,80,"George Routledge and Sons, Limited, 1892, p. ...",COW 1memo states that they interpolated 1816-1...,D,A,254,"B.R. Mitchel, International Historical Statist...","Derived from production, export, and import va...",A,A,8659.0,Historical Statistics of the United States: C...,NaN,A,A,101.0,NaN,"For 1810, HS US 1975 gives 0.",NaN,NaN,NaN,NaN,0.039698,2011
1,United States of America,USA,2,1817,2466,NaN,NaN,15,(U.S. Department of Commerce and Bureau of the...,verified 10/22/2001. DLD,80,"George Routledge and Sons, Limited, 1892, p. ...",COW 1memo states that they interpolated 1816-1...,D,A,277,"B.R. Mitchel, International Historical Statist...","Derived from production, export, and import va...",A,A,8899.0,Historical Statistics of the United States: C...,NaN,A,A,106.0,NaN,NaN,NaN,NaN,NaN,NaN,0.035817,2011
2,United States of America,USA,2,1818,1910,NaN,NaN,14,(U.S. Department of Commerce and Bureau of the...,verified 10/22/2001. DLD,90,"George Routledge and Sons, Limited, 1892, p. ...",COW 1memo states that they interpolated 1816-1...,D,A,302,"B.R. Mitchel, International Historical Statist...","Derived from production, export, and import va...",A,A,9139.0,Historical Statistics of the United States: C...,NaN,A,A,112.0,NaN,NaN,NaN,NaN,NaN,NaN,0.036126,2011
3,United States of America,USA,2,1819,2301,NaN,NaN,13,(U.S. Department of Commerce and Bureau of the...,verified 10/22/2001. DLD,90,"George Routledge and Sons, Limited, 1892, p. ...",COW 1memo states that they interpolated 1816-1...,D,A,293,"B.R. Mitchel, International Historical Statist...","Derived from production, export, and import va...",A,A,9379.0,Historical Statistics of the United States: C...,NaN,A,A,118.0,NaN,NaN,NaN,NaN,NaN,NaN,0.037133,2011
4,United States of America,USA,2,1820,1556,NaN,NaN,15,(U.S. Department of Commerce and Bureau of the...,verified 10/22/2001. DLD,110,"George Routledge and Sons, Limited, 1892, p. ...",COW 1memo states that they interpolated 1816-1...,D,A,303,"B.R. Mitchel, International Historical Statist...","Derived from production, export, and import va...",A,A,9618.0,Historical Statistics of the United States: C...,NaN,A,A,124.0,HS US 1975,NaN,NaN,NaN,NaN,NaN,0.037087,2011

In [46]:
pd.read_csv('data_all/NMC_5_0.csv', encoding = 'utf8').head()

,stateabb,ccode,year,milex,milper,irst,pec,tpop,upop,cinc,version
0,USA,2,1816,3823,17,80,254,8659.0,101.0,0.039698,2011
1,USA,2,1817,2466,15,80,277,8899.0,106.0,0.035817,2011
2,USA,2,1818,1910,14,90,302,9139.0,112.0,0.036126,2011
3,USA,2,1819,2301,13,90,293,9379.0,118.0,0.037133,2011
4,USA,2,1820,1556,15,110,303,9618.0,124.0,0.037087,2011

In [47]:
pd.read_csv('data_all/Non-StateWarData_v4.0.csv', encoding = 'utf8').head()

,WarNum,WarName,WarType,WhereFought,SideA1,SideA2,SideB1,SideB2,SideB3,SideB4,SideB5,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay,Initiator,TransFrom,TransTo,Outcome,SideADeaths,SideBDeaths,TotalCombatDeaths,Version
0,1500,First Maori Tribal War,8,9,Te Rauparaha's Ngati Toa,-8,Taranaki,Ngai Tahu,Waikato,Ngati Ira,Rangitikei,1818,-9,-9,1824,-9,-9,A,-8,-8,1,1500,6000,7500,4
1,1501,Shaka Zulu-Bantu War,8,4,Shaka Zulu,-8,Bantu,-8,-8,-8,-8,1819,-9,-9,1828,9,24,A,-8,-8,1,20000,40000,60000,4
2,1502,Burma-Assam War,8,7,Burma,-8,Assam,-8,-8,-8,-8,1819,-9,-9,1822,-9,-9,A,-8,-8,1,-9,-9,-9,4
3,1503,Buenos Aires War,8,1,Buenos Aires,-8,Provinces,-8,-8,-8,-8,1820,1,8,1820,2,23,B,-8,-8,2,-9,-9,-9,4
4,1505,Second Maori Tribal War,8,9,Hongi Hika's Nga Phuhi,-8,Ngati Paoa,Ngati Maru,Waikato River Maori,Te Arawa,-8,1821,9,-9,1823,-9,-9,A,-8,-8,1,500,2000,2500,4

In [48]:
pd.read_csv('data_all/states2016.csv', encoding = 'utf8').head()

,stateabb,ccode,statenme,styear,stmonth,stday,endyear,endmonth,endday,version
0,USA,2,United States of America,1816,1,1,2016,12,31,2016
1,CAN,20,Canada,1920,1,10,2016,12,31,2016
2,BHM,31,Bahamas,1973,7,10,2016,12,31,2016
3,CUB,40,Cuba,1902,5,20,1906,9,25,2016
4,CUB,40,Cuba,1909,1,23,2016,12,31,2016

In [49]:
pd.read_csv('data_all/system2016.csv', encoding = 'utf8').head()

  stateabb  ccode  year  version
0      USA      2  1816     2016
1      UKG    200  1816     2016
2      NTH    210  1816     2016
3      FRN    220  1816     2016
4      SWZ    225  1816     2016

In [50]:
pd.read_csv('data_all/tc2014.csv', encoding = 'utf8').head()

,year,month,gainer,gaintype,procedur,entity,contgain,area,pop,portion,loser,losetype,contlose,entry,exit,number,indep,conflict,version
0,1816,7,160,1,-9,160,-9,2093164.00,1970000,1,230,0,0,1,0,3,1,0,5
1,1816,3,200,0,3,790,0,1.00,.,0,790,1,1,0,0,4,0,1,5
2,1816,.,200,0,3,420,0,179.00,.,0,-9,1,-9,0,0,5,0,0,5
3,1817,.,220,0,3,433,0,7819.00,100000,1,200,0,0,0,0,28,0,0,5
4,1817,.,365,1,1,365,1,650.00,.,0,-9,1,1,0,0,29,0,1,5

In [51]:
pd.read_csv('data_all/WRP_global.csv', encoding = 'utf8').head()

,year,chrstprot,chrstcat,chrstorth,chrstang,chrstothr,chrstgen,judorth,jdcons,judref,judothr,judgen,islmsun,islmshi,islmibd,islmnat,islmalw,islmahm,islmothr,islmgen,budmah,budthr,budothr,budgen,zorogen,hindgen,sikhgen,shntgen,bahgen,taogen,jaingen,confgen,syncgen,anmgen,nonrelig,othrgen,sumrelig,pop,worldpop,chrstprotpct,chrstcatpct,chrstorthpct,chrstangpct,chrstothrpct,chrstgenpct,judorthpct,judconspct,judrefpct,judothrpct,judgenpct,islmsunpct,islmshipct,islmibdpct,islmnatpct,islmalwpct,islmahmpct,islmothrpct,islmgenpct,budmahpct,budthrpct,budothrpct,budgenpct,zorogenpct,hindgenpct,sikhgenpct,shntgenpct,bahgenpct,taogenpct,jaingenpct,confgenpct,syncgenpct,anmgenpct,nonreligpct,othrgenpct,sumreligpct,ptctotal,version
0,1945,"160,887,585","391,332,035","98,501,171","36,955,033","13,674,466","701,350,290","856,827","1,426,350","1,929,388","7,796,835","12,009,400","49,050,320","19,436,742",0,0,0,0,"62,273,219","130,760,281",0,0,"116,237,936","116,237,936","12,710","5,389,197","20,809","55,228,775","15,495","120,950",181,0,"428,660,117","33,210,080","153,486,530","9,856,926","1,636,502,751","1,617,000,000","2,250,000,000",0.1001,0.2434,0.0613,0.0230,0.0085,0.4362,0.0005,0.0009,0.0012,0.0048,0.0075,0.0305,0.0121,0.0,0,0.0000,0.0,0.0387,0.0813,0.0,0.0000,0.0723,0.0723,0.0000,0.0034,0.0000,0.0343,0.0000,0.0001,0.0000,0.0000,0.2666,0.0207,0.0955,0.0061,1.012061,0.718667,1.1
1,1950,"133,301,043","401,935,856","106,610,911","38,307,544","16,324,768","696,480,122","2,204,231","1,860,297","2,528,641","7,105,125","13,698,294","56,921,304","20,944,082",0,0,"387,994",0,"215,867,687","294,121,067",0,"14,031,137","144,980,765","159,011,902","119,462","301,349,500","5,932,557","65,452,839","638,739","921,828","1,817,254","2,646,410","431,942,094","88,853,880","192,925,316","12,145,951","2,255,911,264","2,231,000,000","2,780,296,616",0.0600,0.1810,0.0480,0.0173,0.0074,0.3136,0.0010,0.0008,0.0011,0.0032,0.0062,0.0256,0.0094,0.0,0,0.0002,0.0,0.0972,0.1325,0.0,0.0063,0.0653,0.0716,0.0001,0.1357,0.0027,0.0295,0.0003,0.0004,0.0008,0.0012,0.1945,0.0400,0.0869,0.0055,1.011166,0.802432,1.1
2,1955,"189,347,338","474,378,130","111,661,338","38,177,572","22,437,724","836,002,102","2,496,432","1,653,007","2,225,241","6,611,524","12,986,204","78,882,540","24,256,503",0,0,"445,582",0,"240,487,382","344,072,007",0,"33,522,360","145,861,839","179,384,199","140,762","328,704,605","6,407,617","68,145,114","761,302","1,182,738","1,620,662","2,956,319","385,702,150","93,710,944","304,128,449","21,379,050","2,565,905,174","2,536,000,000","3,039,433,944",0.0747,0.1871,0.0440,0.0151,0.0088,0.3297,0.0010,0.0007,0.0009,0.0026,0.0051,0.0311,0.0096,0.0,0,0.0002,0.0,0.0948,0.1357,0.0,0.0132,0.0575,0.0707,0.0001,0.1296,0.0025,0.0269,0.0003,0.0005,0.0006,0.0012,0.1521,0.0370,0.1199,0.0084,1.011792,0.834366,1.1
3,1960,"220,293,770","541,957,872","118,268,109","41,846,700","44,601,144","966,967,595","2,818,847","1,716,903","2,300,405","6,892,701","13,728,856","104,325,384","27,174,803",0,0,"521,848",0,"303,101,053","435,123,088",0,"16,766,250","183,672,909","200,439,159","170,443","361,169,167","8,088,138","71,357,167","1,278,349","1,357,348","2,031,760","3,593,958","325,016,083","135,768,801","434,629,671","18,904,435","2,960,719,583","2,921,000,000","3,345,409,879",0.0754,0.1856,0.0405,0.0143,0.0153,0.3311,0.0010,0.0006,0.0008,0.0024,0.0047,0.0357,0.0093,0.0,0,0.0002,0.0,0.1038,0.1490,0.0,0.0057,0.0629,0.0686,0.0001,0.1237,0.0028,0.0244,0.0004,0.0005,0.0007,0.0012,0.1113,0.0465,0.1488,0.0065,1.013598,0.873137,1.1
4,1965,"234,437,703","614,115,021","125,954,494","45,086,639","55,119,929","1,074,713,786","3,295,632","1,760,345","2,348,076","6,849,626","14,253,679","129,192,812","17,097,714","40,000",0,"598,115",0,"367,705,416","514,634,057",0,"18,305,680","194,287,704","212,593,384","148,944","397,863,182","8,895,685","74,982,591","1,658,891","1,704,647","2,341,748","4,441,376","358,844,822","160,893,706","474,097,850","41,159,669","3,302,068,346","3,280,000,000","3,706,601,448",0.0715,0.1873,0.0384,0.0137,0.0168,0.3277,0.0010,0.0005,0.0007,0.0021,0.0043,0.0394,0.0052,0.0,0,0.0002,0.0,0.1121,0.1569,0.0,0.0056,0.0592,0.0648,0.0000,0.1213,0.0027,0.0229,0.0005,0.0005,0.0007,0.0014,0.1094,0.0491,0.1446,0.0126,1.006728,0.884908,1.1

In [52]:
pd.read_csv('data_all/WRP_national.csv', encoding = 'utf8').head()

,year,state,name,chrstprot,chrstcat,chrstorth,chrstang,chrstothr,chrstgen,judorth,jdcons,judref,judothr,judgen,islmsun,islmshi,islmibd,islmnat,islmalw,islmahm,islmothr,islmgen,budmah,budthr,budothr,budgen,zorogen,hindgen,sikhgen,shntgen,bahgen,taogen,jaingen,confgen,syncgen,anmgen,nonrelig,othrgen,sumrelig,pop,chrstprotpct,chrstcatpct,chrstorthpct,chrstangpct,chrstothrpct,chrstgenpct,judorthpct,judconspct,judrefpct,judothrpct,judgenpct,islmsunpct,islmshipct,islmibdpct,islmnatpct,islmalwpct,islmahmpct,islmothrpct,islmgenpct,budmahpct,budthrpct,budothrpct,budgenpct,zorogenpct,hindgenpct,sikhgenpct,shntgenpct,bahgenpct,taogenpct,jaingenpct,confgenpct,syncgenpct,anmgenpct,nonreligpct,othrgenpct,sumreligpct,total,dualrelig,datatype,sourcereliab,recreliab,reliabilevel,Version,sourcecode
0,1945,2,USA,66069671,38716742,1121898,2400000,1956807,110265118,821489,1364508,1902885.0,552300,4641182,0,0,0,0,0,0,0.0,0,0,0,1601218,1601218,0,0,0,0,0,0,0,0,0,0,22874544,545938,139382062,139928000,0.4722,0.2767,0.0080,0.0172,0.0140,0.7880,0.0059,0.0098,0.0136,0.0039,0.0332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0114,0.0114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1635,0.0039,0.9961,1.0000,0,34,2,10,Medium,1.1,13
1,1950,2,USA,73090083,42635882,3045420,3045420,1177214,122994019,1078078,1790706,2497244.0,724809,6090837,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22568130,618022,151652986,152271008,0.4800,0.2800,0.0200,0.0200,0.0077,0.8077,0.0071,0.0118,0.0164,0.0048,0.0400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1482,0.0041,0.9959,1.0000,0,34,6,28,Low,1.1,18
2,1955,2,USA,79294628,46402368,3454916,2572767,2277091,134001770,944000,1568000,2186666.0,634666,5333332,0,0,0,0,0,0,0.0,0,0,0,90173,90173,0,0,0,0,0,0,0,0,0,0,23303540,3202185,162728815,165931000,0.4779,0.2796,0.0208,0.0155,0.0137,0.8076,0.0057,0.0094,0.0132,0.0038,0.0321,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0005,0.0005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1404,0.0193,0.9807,0.9999,0,134,5,10,Medium,1.1,15
3,1960,2,USA,90692928,50587880,3334535,2710065,2908939,150234347,973500,1617000,2255000.0,654500,5500000,0,0,0,0,0,0,0.0,0,0,0,2012131,2012131,0,0,0,0,0,0,0,0,0,0,21548225,1376297,179294703,180671000,0.5020,0.2800,0.0185,0.0150,0.0161,0.8315,0.0054,0.0089,0.0125,0.0036,0.0304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0111,0.0111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1193,0.0076,0.9924,0.9999,0,134,2,10,Medium,1.1,13
4,1965,2,USA,94165803,64761783,4792868,2822149,973155,167515758,991200,1646400,2296000.0,666400,5600000,0,0,0,0,0,0,0.0,0,0,0,1080892,1080892,0,0,0,0,0,0,0,0,0,0,19852362,581988,194049012,194631000,0.4838,0.3327,0.0246,0.0145,0.0050,0.8607,0.0051,0.0085,0.0118,0.0034,0.0288,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0056,0.0056,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1020,0.0030,0.9970,1.0001,0,134,8,28,Low,1.1,20

In [53]:
pd.read_csv('data_all/WRP_regional.csv', encoding = 'utf8').head()

,year,region,chrstprot,chrstcat,chrstorth,chrstang,chrstothr,chrstgen,judorth,jdcons,judref,judothr,judgen,islmsun,islmshi,islmibd,islmnat,islmalw,islmahm,islmothr,islmgen,budmah,budthr,budothr,budgen,zorogen,hindgen,sikhgen,shntgen,bahgen,taogen,jaingen,confgen,syncgen,anmgen,nonrelig,othrgen,sumrelig,pop,worldpop,chrstprotpct,chrstcatpct,chrstorthpct,chrstangpct,chrstothrpct,chrstgenpct,judorthpct,judconspct,judrefpct,judothrpct,judgenpct,islmsunpct,islmshipct,islmibdpct,islmnatpct,islmalwpct,islmahmpct,islmothrpct,islmgenpct,budmahpct,budthrpct,budothrpct,budgenpct,zorogenpct,hindgenpct,sikhgenpct,shntgenpct,bahgenpct,taogenpct,jaingenpct,confgenpct,syncgenpct,anmgenpct,nonreligpct,othrgenpct,sumreligpct,totalpct,totregpct,version
0,1945,Africa,"2,074,180","672,337","7,251,492","419,457","4,170,594","14,588,060",0,0,0,"80,487","80,487",0,0,0,0,0,0,"5,051,475","5,051,475",0,0,53,53,0,"137,290","1,536",0,"2,021",0,0,0,831,"9,162,018","7,396","41,833","29,065,604","29,073,000","1,617,000,000",0.0713,0.0231,0.2494,0.0144,0.1435,0.5018,0.000,0.0000,0.0000,0.0028,0.0028,0.0000,0.0000,0.0,0,0.0,0.0,0.1738,0.1738,0.0,0.0,0.0000,0.0000,0.0000,0.0047,0.0001,0.0000,0.0001,0.0000,0.0,0.0,0.0000,0.3151,0.0003,0.0014,0.9997,1.0000,0.0180,1.1
1,1945,Asia,"2,407,144","2,222,908","181,928","3,142,204","1,964,907","9,919,091",0,0,0,"30,369","30,369","7,451,998","940,000",0,0,0,0,"27,868,347","36,260,345",0,0,"113,681,431","113,681,431","2,710","5,230,216","12,525","55,228,775","7,243","120,950",0,0,"423,153,390","22,525,760","30,637,661","152,491","666,325,296","663,450,000","1,617,000,000",0.0036,0.0034,0.0003,0.0047,0.0030,0.0150,0.000,0.0000,0.0000,0.0000,0.0000,0.0112,0.0014,0.0,0,0.0,0.0,0.0420,0.0547,0.0,0.0,0.1713,0.1713,0.0000,0.0079,0.0000,0.0832,0.0000,0.0002,0.0,0.0,0.6378,0.0340,0.0462,0.0002,1.0043,1.0505,0.4103,1.1
2,1945,Europe,"83,145,512","216,041,422","86,503,645","29,855,595","5,361,826","420,908,000",0,0,0,"6,068,020","6,068,020",0,0,0,0,0,0,"29,353,397","29,353,397",0,0,"725,632","725,632",0,"21,691","1,748",0,"6,231",0,181,0,"5,896","1,294,177","99,829,250","2,535,777","460,920,750","560,750,000","1,617,000,000",0.1483,0.3853,0.1543,0.0532,0.0096,0.7506,0.000,0.0000,0.0000,0.0108,0.0108,0.0000,0.0000,0.0,0,0.0,0.0,0.0523,0.0523,0.0,0.0,0.0013,0.0013,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0000,0.0023,0.1780,0.0045,0.8220,1.0000,0.3468,1.1
3,1945,Mideast,"87,174","635,929","3,180,260",0,"108,332","4,011,695",0,0,0,"623,240","623,240","41,598,322","18,496,742",0,0,0,0,0,"60,095,064",0,0,0,0,"10,000",0,0,0,0,0,0,0,0,0,561,"478,440","65,218,439","65,219,000","1,617,000,000",0.0013,0.0098,0.0488,0.0000,0.0017,0.0615,0.000,0.0000,0.0000,0.0096,0.0096,0.6378,0.2836,0.0,0,0.0,0.0,0.0000,0.9214,0.0,0.0,0.0000,0.0000,0.0002,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0000,0.0000,0.0000,0.0073,1.0000,1.0000,0.0403,1.1
4,1945,West. Hem,"73,173,575","171,759,439","1,383,846","3,537,777","2,068,807","251,923,444","856,827","1,426,350","1,929,388","994,719","5,207,284",0,0,0,0,0,0,0,0,0,0,"1,830,820","1,830,820",0,0,"5,000",0,0,0,0,0,"5,500,000","228,125","23,011,662","6,648,385","271,343,058","289,375,655","1,617,000,000",0.2529,0.5936,0.0048,0.0122,0.0071,0.8706,0.003,0.0049,0.0067,0.0034,0.0180,0.0000,0.0000,0.0,0,0.0,0.0,0.0000,0.0000,0.0,0.0,0.0063,0.0063,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0190,0.0008,0.0795,0.0230,0.9377,1.0172,0.1790,1.1

In [54]:
# csv_files = ['ucdp-actorlist.csv',
# 'ucdp-brd-conf-181.csv',
# 'ucdp-brd-dyadic-181.csv',
# 'ucdp-dyadic-181.csv',
# 'ucdp-nonstate-181.csv',
# 'ucdp-onesided-181.csv',
# 'ucdp-prio-acd-181.csv',
# ucdp-term-conf-2015.xlsx
# ucdp-term-dyadic-2015.xlsx
# 'ucdp-translate_conf.csv',
# 'ucdp-translate_dyad.csv']

In [55]:
# df_list = []
# for file in csv_files:
#     df_list.append("pd.read_csv('data/" + file + "', encoding = 'utf8').head()")
#     print("pd.read_csv('data/" + file + "', encoding = 'utf8').head()")

In [56]:
pd.read_csv('data_all/ucdp-actorlist.csv', encoding = 'utf8').head()

,ActorID,Name,NameFull
0,1,Civilians,Civilians
1,2,Government of Hyderabad,Government of Hyderabad
2,3,Government of United States of America,Government of United States of America
3,5,Government of Cuba,Government of Cuba
4,6,Government of Haiti,Government of Haiti

In [57]:
pd.read_csv('data_all/ucdp-brd-conf-181.csv', encoding = 'utf8').head()

,conflict_id,dyad_id,year,location_inc,side_a,side_a_2nd,side_a_id,side_b,side_b_id,side_b_2nd,incompatibility,territory_name,bdbest,bdlow,bdhigh,type_of_conflict,battle_location,gwno_a,gwno_a_2nd,gwno_b,gwno_b_2nd,gwno_loc,gwno_battle,region,version
0,205,406,2016,Iran,Government of Iran,NaN,114,KDPI,164,NaN,1,Kurdistan,30,30,137,3,"Iran, Iraq",630,NaN,NaN,NaN,630,"630, 645",2,18.1
1,205,406,1993,Iran,Government of Iran,NaN,114,KDPI,164,NaN,1,Kurdistan,110,110,110,3,"Iran, Iraq",630,NaN,NaN,NaN,630,"630, 645",2,18.1
2,205,406,1996,Iran,Government of Iran,NaN,114,KDPI,164,NaN,1,Kurdistan,27,27,29,3,"Iran, Iraq",630,NaN,NaN,NaN,630,"630, 645",2,18.1
3,205,406,1990,Iran,Government of Iran,NaN,114,KDPI,164,NaN,1,Kurdistan,31,31,335,3,Iran,630,NaN,NaN,NaN,630,630,2,18.1
4,209,"411, 412",1989,Philippines,Government of Philippines,NaN,154,"CPP, Military faction (forces of Honasan, Aben...","169, 170",NaN,2,NaN,822,801,885,3,Philippines,840,NaN,NaN,NaN,840,840,3,18.1

In [58]:
pd.read_csv('data_all/ucdp-brd-dyadic-181.csv', encoding = 'utf8').head()

,conflict_id,dyad_id,location_inc,side_a,side_a_2nd,side_a_id,side_b,side_b_id,side_b_2nd,incompatibility,territory_name,year,bd_best,bd_low,bd_high,type_of_conflict,battle_location,gwno_a,gwno_a_2nd,gwno_b_2nd,gwno_b_2nd,gwno_loc,gwno_battle,region,version,DatasetRow_id,DyadId
0,205,406,Iran,Government of Iran,NaN,114,KDPI,164,NaN,1,Kurdistan,1990,31,31,335,3,Iran,630,NaN,NaN,NaN,630,630,2,18.1,248495,406
1,205,406,Iran,Government of Iran,NaN,114,KDPI,164,NaN,1,Kurdistan,1993,110,110,110,3,"Iran, Iraq",630,NaN,NaN,NaN,630,"630, 645",2,18.1,248496,406
2,205,406,Iran,Government of Iran,NaN,114,KDPI,164,NaN,1,Kurdistan,1996,27,27,29,3,"Iran, Iraq",630,NaN,NaN,NaN,630,"630, 645",2,18.1,248497,406
3,205,406,Iran,Government of Iran,NaN,114,KDPI,164,NaN,1,Kurdistan,2016,30,30,137,3,"Iran, Iraq",630,NaN,NaN,NaN,630,"630, 645",2,18.1,248498,406
4,209,411,Philippines,Government of Philippines,NaN,154,CPP,169,NaN,2,NaN,1989,725,704,766,3,Philippines,840,NaN,NaN,NaN,840,840,3,18.1,248499,411

In [59]:
pd.read_csv('data_all/ucdp-dyadic-181.csv', encoding = 'utf8').head()

,dyad_id,conflict_id,location,side_a,side_a_id,side_a_2nd,side_b,side_b_id,side_b_2nd,incompatibility,territory,year,intensity,type,start_date,start_prec,start_date2,start_prec2,gwno_a,gwno_a_2nd,gwno_b,gwno_b_2nd,gwno_loc,region,version
0,399,200,Bolivia,Government of Bolivia,23,NaN,Popular Revolutionary Movement,719,NaN,2,NaN,1946,2,3,1946-07-18,1,1946-07-21,2,145,NaN,NaN,NaN,145,5,18.1
1,400,200,Bolivia,Government of Bolivia,23,NaN,MNR,720,NaN,2,NaN,1952,1,3,1952-04-09,1,1952-04-09,1,145,NaN,NaN,NaN,145,5,18.1
2,401,200,Bolivia,Government of Bolivia,23,NaN,ELN,721,NaN,2,NaN,1967,1,3,1967-03-31,3,1967-03-31,3,145,NaN,NaN,NaN,145,5,18.1
3,402,201,Cambodia (Kampuchea),Government of France,33,NaN,Khmer Issarak,160,NaN,1,Cambodia,1946,1,1,1946-08-31,3,1946-08-31,3,220,NaN,NaN,NaN,811,3,18.1
4,402,201,Cambodia (Kampuchea),Government of France,33,NaN,Khmer Issarak,160,NaN,1,Cambodia,1947,1,1,1946-08-31,3,1946-08-31,3,220,NaN,NaN,NaN,811,3,18.1

In [60]:
pd.read_csv('data_all/ucdp-nonstate-181.csv', encoding = 'utf8').head()

,conflict_id,dyad_id,org,side_a_name,side_a_id,side_a_components,side_b_name,side_b_id,side_b_components,start_date,start_prec,start_date2,start_prec2,ep_end,ep_end_date,ep_end_prec,year,best_fatality_estimate,low_fatality_estimate,high_fatality_estimate,location,gwno_location,region,version
0,4564,5174,1,1920 Revolution Brigades,783,NaN,IS,234,NaN,2007-02-09,1,2007-12-07,1,1,2007-12-07,1.0,2007,25,25,25,Iraq,645,2,18.1
1,4565,5175,3,Abgal clan (Hawiye),1028,NaN,Xawaadle clan (Hawiye),891,NaN,2008-01-09,1,2008-09-12,2,1,2008-12-26,2.0,2008,31,31,55,Somalia,520,4,18.1
2,4566,5176,3,Abudu,570,NaN,Andani,892,NaN,2002-03-27,2,2002-03-27,2,1,2002-03-27,2.0,2002,36,25,40,Ghana,452,4,18.1
3,4567,5177,2,Supporters of ACN,893,NaN,Supporters of PDP,668,NaN,2008-01-14,1,2008-03-21,1,1,2008-04-22,1.0,2008,33,33,33,Nigeria,475,4,18.1
4,4567,5177,2,Supporters of ACN,893,NaN,Supporters of PDP,668,NaN,2008-01-14,1,2011-10-17,1,1,2011-10-17,1.0,2011,26,26,46,Nigeria,475,4,18.1

In [61]:
pd.read_csv('data_all/ucdp-onesided-181.csv', encoding = 'utf8').head()

,actor_id,dyad_id,conflict_id,coalition_components,actor_name,actor_name_fulltext,year,best_fatality_estimate,low_fatality_estimate,high_fatality_estimate,is_government_actor,location,gwno_loc,gwno_a,region,version
0,6,911,444,NaN,Government of Haiti,Government of Haiti,1991,70,70,296,1,Haiti,41,41.0,5,18.1
1,6,911,444,NaN,Government of Haiti,Government of Haiti,1993,37,37,137,1,Haiti,41,41.0,5,18.1
2,6,911,444,NaN,Government of Haiti,Government of Haiti,1994,44,44,463,1,Haiti,41,41.0,5,18.1
3,6,911,444,NaN,Government of Haiti,Government of Haiti,2005,40,40,74,1,Haiti,41,41.0,5,18.1
4,10,1108,641,NaN,Government of Mexico,Government of Mexico,2014,28,28,32,1,Mexico,70,70.0,5,18.1

In [62]:
pd.read_csv('data_all/ucdp-prio-acd-181.csv', encoding = 'utf8').head()

,conflict_id,location,side_a,side_a_id,side_a_2nd,side_b,side_b_id,side_b_2nd,incompatibility,territory_name,year,intensity_level,cumulative_intensity,type_of_conflict,start_date,start_prec,start_date2,start_prec2,ep_end,ep_end_date,ep_end_prec,gwno_a,gwno_a_2nd,gwno_b,gwno_b.1,gwno_loc,region,version
0,200,Bolivia,Government of Bolivia,23,NaN,Popular Revolutionary Movement,719,NaN,2,NaN,1946,2,1,3,1946-07-18,1,1946-07-21,2,1,1946-07-21,1.0,145,NaN,NaN,NaN,145,5,18.1
1,200,Bolivia,Government of Bolivia,23,NaN,MNR,720,NaN,2,NaN,1952,1,1,3,1946-07-18,1,1952-04-09,1,1,1952-04-12,1.0,145,NaN,NaN,NaN,145,5,18.1
2,200,Bolivia,Government of Bolivia,23,NaN,ELN,721,NaN,2,NaN,1967,1,1,3,1946-07-18,1,1967-03-31,3,1,1967-10-16,1.0,145,NaN,NaN,NaN,145,5,18.1
3,201,Cambodia (Kampuchea),Government of France,33,NaN,Khmer Issarak,160,NaN,1,Cambodia,1946,1,0,1,1946-08-31,3,1946-08-31,3,0,NaN,NaN,220,NaN,NaN,NaN,811,3,18.1
4,201,Cambodia (Kampuchea),Government of France,33,NaN,Khmer Issarak,160,NaN,1,Cambodia,1947,1,0,1,1946-08-31,3,1946-08-31,3,0,NaN,NaN,220,NaN,NaN,NaN,811,3,18.1

In [63]:
pd.read_csv('data_all/ucdp-translate_conf.csv', encoding = 'utf8').head()

   new_id old_id
0     201      2
1     204      5
2     207      8
3     208      9
4     216     17

In [64]:
pd.read_csv('data_all/ucdp-translate_dyad.csv', encoding = 'utf8').head()

,new_id,old_id,name,type_of_violence
0,399,462,Government of Bolivia - Popular Revolutionary ...,1
1,400,463,Government of Bolivia - MNR,1
2,401,464,Government of Bolivia - ELN,1
3,402,654,Government of France - Khmer Issarak,1
4,403,466,Government of China - PLA,1

In [65]:
pd.read_csv('data_all/ged181.csv', encoding = 'utf8').head()

,id,year,active_year,type_of_violence,conflict_new_id,conflict_name,dyad_new_id,dyad_name,side_a_new_id,gwnoa,side_a,side_b_new_id,gwnob,side_b,number_of_sources,source_article,source_office,source_date,source_headline,source_original,where_prec,where_coordinates,adm_1,adm_2,latitude,longitude,geom_wkt,priogrid_gid,country,country_id,region,event_clarity,date_prec,date_start,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,low,best,high
0,86148,1989,1,3,519,Sikh insurgents - Civilians,986,Sikh insurgents - Civilians,319,NaN,Sikh insurgents,1,NaN,Civilians,-1,Reuters 1/1/1989,NaN,NaN,NaN,police,4,Punjab State,Punjab State,NaN,30.916670,75.416670,POINT (75.416670 30.916670),174031,India,750,Asia,1,1,1989-01-01,1989-01-01,0,0,5,0,5,5,5
1,94814,1989,1,1,351,India:Punjab/Khalistan,775,Government of India - Sikh insurgents,141,750,Government of India,319,NaN,Sikh insurgents,-1,The Pioneer (Varanasi) 1/20/1990,NaN,NaN,NaN,NaN,4,Punjab State,Punjab State,NaN,30.916670,75.416670,POINT (75.416670 30.916670),174031,India,750,Asia,2,5,1989-01-01,1989-12-31,172,633,0,0,805,805,805
2,77563,1989,1,3,511,JVP - Civilians,978,JVP - Civilians,281,NaN,JVP,1,NaN,Civilians,-1,"Reuters, 13 Jan 1989",NaN,NaN,NaN,police,1,Deniyaya town,Southern,Matara,6.346100,80.551500,POINT (80.551500 6.346100),138762,Sri Lanka,780,Asia,1,1,1989-01-13,1989-01-13,0,0,0,0,0,0,2
3,17466,1989,1,2,4841,Supporters of IFP - Supporters of UDF,5451,Supporters of IFP - Supporters of UDF,620,NaN,Supporters of IFP,983,NaN,Supporters of UDF,-1,TRC Report,NaN,NaN,NaN,NaN,1,Mpumalanga town,Natal province,NaN,-29.812919,30.636458,POINT (30.636458 -29.812919),86822,South Africa,560,Africa,1,1,1989-01-18,1989-01-18,0,0,0,1,1,1,1
4,96586,1992,1,3,531,NDFB - Civilians,998,NDFB - Civilians,363,NaN,NDFB,1,NaN,Civilians,-1,SATP,NaN,NaN,NaN,SATP,3,Sonitpur district,Assam State,Sonitpur district,26.633333,92.800000,POINT (92.800000 26.633333),168306,India,750,Asia,1,1,1992-10-20,1992-10-20,0,0,4,0,4,4,4

In [66]:
pd.read_csv('data_all/ucdp-term-dyadic-2015.csv', encoding = 'utf8').head()

,ConflictId,DyadId,DyadEp,Year,Location,SideA,SideA2nd,SideB,SideBID,SideB2nd,Incompatibility,TerritoryName,IntensityLevel,TypeOfConflict,Type2,StartDate,StartPrec,StartDate2,StartPrec2,Dyadterm,EpEndDate,EpEndPrec,Outcome_early,Outcome,CfireDate,PeAgDate,GWNoA,GWNoA2nd,GWNoB,GWNoB2nd,GWNoLoc,Region,Version
0,1-191,1,101,1992,Algeria,Government of Algeria,NaN,AIS,1389,NaN,2,NaN,1,3,3,1985-08-27,1,1992-03-10,5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,615,NaN,NaN,NaN,615,4,2.0-2015
1,1-191,1,101,1993,Algeria,Government of Algeria,NaN,AIS,1389,NaN,2,NaN,1,3,3,1985-08-27,1,1992-03-10,5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,615,NaN,NaN,NaN,615,4,2.0-2015
2,1-191,1,101,1994,Algeria,Government of Algeria,NaN,AIS,1389,NaN,2,NaN,2,3,3,1985-08-27,1,1992-03-10,5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,615,NaN,NaN,NaN,615,4,2.0-2015
3,1-191,1,101,1995,Algeria,Government of Algeria,NaN,AIS,1389,NaN,2,NaN,1,3,3,1985-08-27,1,1992-03-10,5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,615,NaN,NaN,NaN,615,4,2.0-2015
4,1-191,1,101,1996,Algeria,Government of Algeria,NaN,AIS,1389,NaN,2,NaN,1,3,3,1985-08-27,1,1992-03-10,5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,615,NaN,NaN,NaN,615,4,2.0-2015

In [67]:
pd.read_csv('data_all/ddrevisited_data_v1.csv', encoding = 'latin-1').head()

,order,ctryname,year,aclpcode,cowcode,cowcode2,qogctycode,qogctylett,qogctyyear,ccdcodelet,ccdcodenum,aclpyear,cowcode2year,cowcodeyear,chgterr,ychgterr,flagc_cowcode2,flage_cowcode2,entryy,exity,cid,wdicode,imf_code,politycode,bankscode,dpicode,uncode,un_region,un_region_name,un_continent,un_continent_name,aclp_region,bornyear,endyear,dupcow,dupwdi,dupun,dupdpi,dupimf,dupbanks,exselec,legselec,closed,dejure,defacto,defacto2,lparty,incumb,type2,collect,nheads,nmil,nhead,npost,ndate,eheads,ageeh,emil,royal,headdiff,ehead,epost,edate,tenure08,comm,ecens08,edeath,flageh,democracy,assconfid,poppreselec,regime,tt,ttd,tta,flagc,flagdem,flagreg,agedem,agereg,stra
0,1.0,Afghanistan,1946.0,142.0,700.0,700.0,4.0,AFG,41946.0,AFG,1.0,1421946.0,7001946.0,7001946.0,0.0,0.0,1.0,0.0,1946.0,2008.0,700.0,AFG,512.0,700.0,10.0,AFG,4.0,34.0,Southern Asia,142.0,Asia,9.0,1919.0,2008.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Mohammad Zahir Shah,king,11.08.33,0.0,14.0,0.0,1.0,0.0,Mohammad Zahir Shah,king,11.08.33,20.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,1.0,1.0,1.0,18.0,18.0,0.0
1,2.0,Afghanistan,1947.0,142.0,700.0,700.0,4.0,AFG,41947.0,AFG,1.0,1421947.0,7001947.0,7001947.0,0.0,0.0,0.0,0.0,1946.0,2008.0,700.0,AFG,512.0,700.0,10.0,AFG,4.0,34.0,Southern Asia,142.0,Asia,9.0,1919.0,2008.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Mohammad Zahir Shah,king,NaN,0.0,15.0,0.0,1.0,0.0,Mohammad Zahir Shah,king,NaN,20.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,19.0,0.0
2,3.0,Afghanistan,1948.0,142.0,700.0,700.0,4.0,AFG,41948.0,AFG,1.0,1421948.0,7001948.0,7001948.0,0.0,0.0,0.0,0.0,1946.0,2008.0,700.0,AFG,512.0,700.0,10.0,AFG,4.0,34.0,Southern Asia,142.0,Asia,9.0,1919.0,2008.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Mohammad Zahir Shah,king,NaN,0.0,16.0,0.0,1.0,0.0,Mohammad Zahir Shah,king,NaN,20.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,20.0,0.0
3,4.0,Afghanistan,1949.0,142.0,700.0,700.0,4.0,AFG,41949.0,AFG,1.0,1421949.0,7001949.0,7001949.0,0.0,0.0,0.0,0.0,1946.0,2008.0,700.0,AFG,512.0,700.0,10.0,AFG,4.0,34.0,Southern Asia,142.0,Asia,9.0,1919.0,2008.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Mohammad Zahir Shah,king,NaN,0.0,17.0,0.0,1.0,0.0,Mohammad Zahir Shah,king,NaN,20.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,21.0,0.0
4,5.0,Afghanistan,1950.0,142.0,700.0,700.0,4.0,AFG,41950.0,AFG,1.0,1421950.0,7001950.0,7001950.0,0.0,0.0,0.0,0.0,1946.0,2008.0,700.0,AFG,512.0,700.0,10.0,AFG,4.0,34.0,Southern Asia,142.0,Asia,9.0,1919.0,2008.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Mohammad Zahir Shah,king,NaN,0.0,18.0,0.0,1.0,0.0,Mohammad Zahir Shah,king,NaN,20.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,22.0,0.0